@import "FontConfig.css";

#Contato{
    background-color: #fdaaaa;
    font-family: "Open-Sans";
    font-size: 16px;
}
    

#textContato{
    font-family: "Open-Sans";
    font-size: 26px;
}

#textBody{
    position: relative;
    margin-left: 3%;
    margin-right: 3%;
}