@import "FontConfig.css";

#Contato{
    font-family: "Open-Sans";
    font-size: 16px;
}
    

#textContato{
    font-family: "Open-Sans";
    font-size: 26px;

}

#textBody{
    position: relative;
}

#icon{
    position: relative;
    margin-right: 10%;
}

#itemLista{
    width: 400px;
}

#listaContatos{
    position: relative;
    margin-bottom: 10%;
    align-items: center;
}