@import "FontConfig.css";

#tamanhoTabela{
    width: 26%;
    margin-left: 37%;
    margin-right: 37%;
    margin-top: 3%;
}

#Funcionamento{
    font-family: "Open-Sans";
    font-size: 16px;
    ;
}

#textFuncionamento{
    font-family: "Open-Sans";
    font-size: 26px;
    position: relative;
    margin-left: 3%;
}

#textBody{
    position: relative;
    margin-left: 3%;
    margin-right: 3%;
}