@font-face {
    font-family:'Open-Sans';
    src: url('./open-sans.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#image-carrossel{
    width: 50%;
    height: 50%;
}

#component{
    position: relative;
    z-index: -1;
}

#schedule-table{
    width: 26%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

#members-table{
    width: 82%;
    margin-left: auto;
    margin-right: auto;
}

#social-table{
    width: 64%;
    margin-left: auto;
    margin-right: auto;
}

#logo{
    width: 50px;
}

.navbar{
    font-family: "Open-Sans";
    background: #f1f1f1;
    color: black;
}

.section-card{
    font-family: "Open-Sans";
    margin-top: 1em;
    margin-bottom: 1em;
}

.section-title{
    margin-left: 3%;
    margin-right: 3%;
    font-size: 26px;
}

.section-subtitle{
    font-size: 22px;
    margin-left: 3%;
    margin-right: 3%;
}

.section-text{
    font-size: 16px;
    margin-left: 3%;
    margin-right: 3%;
}

a {
    font-size: 16px;
}