@font-face {
    font-family:'Open-Sans';
    src: url('./open-sans.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#image-carrossel{
    width: 50%;
    height: 50%;
}

#component{
    position: relative;
    z-index: -1;
}

#schedule-table{
    width: 26%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

#members-table{
    width: 82%;
    margin-left: auto;
    margin-right: auto;
}

#social-table{
    width: 82%;
    margin-left: auto;
    margin-right: auto;
}

#logo{
    width: 50px;
}

.navbar{
    font-family: "Open-Sans";
    background: #f1f1f1;
    color: black;
}

.section-card{
    font-family: "Open-Sans";
    margin-top: 1em;
    margin-bottom: 1em;
}

.section-title{
    margin-left: 3%;
    margin-right: 3%;
    font-size: 26px;
}

.section-subtitle{
    font-size: 22px;
    margin-left: 3%;
    margin-right: 3%;
}

.section-text{
    font-size: 16px;
    margin-left: 3%;
    margin-right: 3%;
}

a {
    font-size: 16px;
}

.link-button {
    align-items: normal;
    background-color: rgba(0,0,0,0);
    border-color: rgb(0, 0, 238);
    border-style: none;
    box-sizing: content-box;
    color: #069;
    cursor: pointer;
    display: inline;
    font: inherit;
    height: auto;
    padding: 0;
    perspective-origin: 0 0;
    text-align: start;
    transform-origin: 0 0;
    width: auto;
    -moz-appearance: none;
    -webkit-logical-height: 1em; /* Chrome ignores auto, so we have to use this hack to set the correct height  */
    -webkit-logical-width: auto; /* Chrome ignores auto, but here for completeness */
}

.link-button:hover {
    text-decoration: underline;
}

@supports (-moz-appearance:none) { /* Mozilla-only */
    .link-button::-moz-focus-inner { /* reset any predefined properties */ 
        border: none;
        padding: 0;
    }
    .link-button:focus { /* add outline to focus pseudo-class */
        outline-style: dotted;
        outline-width: 1px;
    }
}