@import "FontConfig.css";

#PAluno{
    font-family: "Open-Sans";
    font-size: 16px;
}
    

#textPAluno{
    font-family: "Open-Sans";
    font-size: 26px;
}

#textBody{
    position: relative;
    margin-left: 3%;
    margin-right: 3%;
}