@import "FontConfig.css";

#textPosts{
    font-family: "Open-Sans";
    font-size: 26px;
    position: absolute;
    margin-top: 2%;
    margin-left: 4%;
}

#posts{
    background-color: #F1F1F1;
    height: 300px;
}