
#Voluntarios{
    font-family: "Open-Sans";
    font-size: 16px;
}

#lista{
    align-items: center;
}

#itemLista{
    align-self: center;
    background-color: #fcfcfc;
    
}
    

#textVoluntarios{
    font-family: "Open-Sans";
    font-size: 26px;
}